
<div class="home-banner">
  <h1>Minion Market</h1>
  <p>
    <span id="banner-typed-text"></span>
  </p>
</div>

<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group" id='search-bar'>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "One is not enough"
  %>
  <button name="button" type="submit" class="btn btn-flat">
    <i class="fas fa-search"></i> Search
  </button>

  </div>
<% end %>

<div class="fixing-the-card">
  <div class="cards">
    <% if @products %>
      <% @products.each do |product| %>
        <%= link_to product_path(product) do %>
          <div class="card-trip">


            <% if product.photo.attached? %>
              <%= cl_image_tag product.photo.key, class: 'card-trip-img' if product.photo.attached? %>
            <% else %>
              <%= image_tag "logo.png", height: 160, width: 240, crop: :fill, class: 'empty card-trip-img' %>

            <% end %>

            <div class="card-trip-infos">
              <div>

                <h2 class="product-name"><%= product.name.capitalize%></h2>
                <%# white_stars = 5 - product.review.round %>
                <p>
                  <%# product.review.round.times do %>
                    <i class="fas fa-star"></i>
                  <%# end %>
                  <%# white_stars.times do %>
                    <i class="far fa-star"></i>
                  <%# end %>
                <!-- <p><%= product.description %> </p> -->


                <!-- <p><%= product.user_id %> </p> -->
              </div>
              <h2 class="card-trip-pricing"> $ <%= product.price %></h2>

              <%= cl_image_tag product.user.photo.key, class: 'card-trip-user avatar-bordered'if product.user.photo.attached? %>
              <%= image_tag "avatar-default-copy.png", crop: :fill, class: "avatar dropdown-toggle avatar-bordered", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false unless product.user.photo.attached?%>
            </div>
          </div>

        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
