<div class="background-container col-12">
  <div class="new-container col-lg-12 col-12 d-flex">
    <div class="new-img col-lg-7 col-md-0 col-0"></div>
    <div class="new-form col-lg-5 col-md-12 col-12">
      <h3>Log In</h3>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          <div>
            <%= f.button :submit, "Log in", class:"btn btn-primary" %>
            <%= render "devise/shared/links" %>
          </div>

        <% end %>

    </div>

  </div>
</div>

