

<div class="product-show-container col-12 pt-100" style="background-color: white">

  <div class="product-details d-flex col-12">
    <div class="product-img col-5">
      <%= cl_image_tag @product.photo.key, class: "product-image rounded-lg", crop: :fill if @product.photo.attached? %></div>
    <div class="product-info col-7">
      <%# link to seller's profile %>
      <p> Seller: <%= link_to "#{@user.name}", user_path(@user), class: "seller-link" %> </p>
      <h1 class="product-name"><%= @product.name%></h1>
      <% if policy(@user).update? %>
        <%= link_to edit_product_path(@product) do%>
          <i class="fas fa-edit"></i>
        <% end %>
      <% end %>

      <%# rating average logic %>

      <%# sum_of_ratings = 0 %>
      <%# @products.reviews.each do |review| %>
        <%# sum_of_ratings += review.rating %>
      <%# end %>
      <% if @product.reviews.count == 0 %>
        <p> This product has not been reviewed <p>
      <% else %>
        <%# rating = sum_of_ratings/@product.reviews.count %>
        <%# white_stars = 5 - rating %>
        <p>
          <%# rating.times do %>
            <i class="fas fa-star"></i>
          <%# end %>
          <%# white_stars.times do %>
            <i class="far fa-star"></i>
          <%# end %>
          <%#= "(#{@product.reviews.count})" %>
        </p>
      <% end %>
      <%# rating average logic end %>
      <p>Price: $<%= @product.price  %></p>
      <%#Stock logic%>
      <% if @product.stock == 0 %>
        <p> sold out <p>
      <% else %>
        <p>Stock: <%= @product.stock %></p>
      <% end %>
      <%# stock logic end%>
      <% # Add to cart logic and form %>
      <%= simple_form_for OrdersToProduct.new do |f| %>
        <%= f.input :product_id, as: :hidden, input_html: {value: @product.id} %>
        <%= f.input :quantity, collection: (1..10), include_blank: false, class: "quantity-button" %>
        <%= f.submit "Add to cart", class: "add-cart-button" %>
      <% end %>
      <%# description %>
      <h3>Description:</h3>
      <p><%= @product.description %></p>

    </div>
  </div>



  <div class="reviews-container d-flex col-12">
    <div class="review-rating col-3">
      <%# rating average logic %>
<!--       <% if @product.reviews.count == 0 %>
        <p> This product has not been reviewed <p>
      <% else %>
        <p>
          <%# rating.times do %>
            <i class="fas fa-star"></i>
          <%# end %>
          <%# white_stars.times do %>
            <i class="far fa-star"></i>
          <%# end %>
          <%= "(#{@product.reviews.count})" %>
        </p>
      <% end %> -->
      <%# rating average logic end %>
    </div>
    <div class="reviews-list col-9">
      <div class="reviews-title col-12"> <h2>Reviews:</h2> </div>
      <%# New Review %>
      <%= link_to "New Review", new_product_review_path(@product.id), class: "review-new" %>
         <% @product.reviews.each do |review| %>
              <% if review.description != "" %>
      <div class="card mb-4">
        <div class="card-header">
          <% review.rating.times do %>
             <i class="fas fa-star"></i>
          <% end %>
          <% empty_stars = 5 - review.rating %>
          <% empty_stars.times do %>
             <i class="far fa-star"></i>
          <% end %>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p><%= " #{review.description} #{review.rating}" %></p>
            <footer class="blockquote-footer"><%= "#{review.created_at} " %><cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
        <% end %>
            <% end %>




































